body{
    font-family: Montserrat!important;
}
.main-nav{
    background-color: #267CCA!important;
    height: 7vw!important;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
div.mobile-none{
    background-color: #1060a5!important;
    height: 2vw;
}
.main-nav .nav-wrapper.row.col.l12 .col.l8 span{
    margin-left: 2.4vw;
}
.mobile-none .nav-wrapper.row.col.l12 .col.l6 span{
    padding-left: 0.2vw!important;
    cursor: pointer
}
.mobile-none .nav-wrapper.row.col.l12 .col.l6 i.social{
    /*font-size: 2vw;*/
    transition: 0.5s;
    cursor: pointer;
    padding-left: 2vw;
    padding-right: 2vw;
}
i.fa-facebook.social,  i.fa-instagram.social{
    transition: 0.5s;
    margin-left: 1vw;
}
i.fa-facebook.social:hover{
    transition: 0.5s;
    color: #087AEA;
}
.col.l4 i.fa-instagram.social:hover{
    transition: 0.5s;
    color: #C42F8B;
    padding-top: 0;
}
button.add-imovel{
    background-color: #4970A2;
    color: white;
    border: none;
    margin-left: 2vw;
    width: auto;
    height: 100%;
}
.mobile-none .nav-wrapper.row.col.l12 .col.l6 label:hover{
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

label{
    cursor: pointer;
}
label:hover{
    color: cornflowerblue!important;
    transition: 0.5s;
}
label.mail{
    transition: 0.5s;
    cursor: pointer;
    border-left: 1px white solid;
    padding-left: 0.3vw!important;
}
label.mail , label.phone{
    /*margin-top: 5vh;*/
}
.logo{
    width: 7vw;
    padding-left: 1vw;
    padding-top: 1vw;
}
.tabs.tabs-transparent{
    margin-top: 1vw;
}
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 75%!important;
    border-radius: 0;
    will-change: bottom, opacity;
}

.mobile-only{
    display: none;
}

@media screen and (max-width: 992px) {
    .btn-nav{
        position: absolute;
        font-size: 11vw;
        margin-top: 4vw;
    }
    .button-collapse.mobile-only{}
    .mobile-only{
        display: block;
    }
    .mobile-none{
        display: none;
    }
    .logo{
        width: 27vw;
    }
    .user-view{
        background-color: var(--main-color);
    }
    .modal.bottom-sheet {
        top: auto;
        bottom: -100%;
        margin: 0;
        width: 100%;
        max-height: 90%!important;
        border-radius: 0;
        will-change: bottom, opacity;
    }
    .main-nav{
        display: none;
    }
}
