.nav-extended{
    /*padding-top: 1vw;*/
    background-color: #CB5929!important;
}
.logo{
    width: 10vw;
    padding-left: 1vw;
    padding-top: 1vw;
}
.tabs.tabs-transparent{
    margin-top: 1vw;
}
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 75%!important;
    border-radius: 0;
    will-change: bottom, opacity;
}

@media screen and (max-width: 992px) {
    .logo{
        width: 40vw;
    }
    .user-view{
        background-color: var(--main-color);
    }
    .modal.bottom-sheet {
        top: auto;
        bottom: -100%;
        margin: 0;
        width: 100%;
        max-height: 75%!important;
        border-radius: 0;
        will-change: bottom, opacity;
    }
}
